/* Set up for old browsers. I set the medium Figtree as regular, as I prefer it a little bolder. */
@supports not (font-variation-settings: normal) {

  @font-face {
    font-family: Fields;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local(''),
      url('/assets/fonts/figtree/figtree-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: Fields;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local(''),
      url('/assets/fonts/fields/Fields.woff2') format('woff2');
  }
}

/* Set up for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Fields';
    src:
      url('/assets/fonts/fields/Fields.woff2') format('woff2 supports variations'),
      url('/assets/fonts/fields/Fields.woff2') format('woff2-variations');
    font-weight: 200 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fields';
    src:
      url('/assets/fonts/fields/Fields.woff2') format('woff2 supports variations'),
      url('/assets/fonts/fields/Fields.woff2') format('woff2-variations');
    font-weight: 200 400;
    font-style: italic;
    font-display: swap;
  }
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url(/assets/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2) format('woff2');
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    local(''),
    url(/assets/fonts/robotomono/robotomono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'DankMono-Regular';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    local(''),
    url(/assets/fonts/dankmono/DankMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'DankMono-Italic';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    local(''),
    url(/assets/fonts/dankmono/DankMono-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'DankMono-Bold';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    local(''),
    url(/assets/fonts/dankmono/DankMono-Bold.woff2) format('woff2');
}