.card {
  background-color: var(--color-bg-accent);
  border: 4px solid transparent; /* Use 4px solid transparent for normal state */
  color: var(--color-text);
  padding: var(--space-s-m);
  border-radius: var(--border-radius);
  max-inline-size: unset;
  box-sizing: border-box; /* Ensure this is set */
  transition: border-color 0.3s; /* Smooth transition for border color */
}


.collection-card:hover,
.collection-card:focus-within {
  border-color: var(--color-primary); /* Change border color on hover/focus */
}

.card ::selection {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

.card h2,
.card h3 {
  font-family: var(--font-base);
  font-size: var(--size-step-2);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
  color: var(--color-text);
}

.card:hover h2 a,
.card:hover h3 a {
  color: var(--color-primary);
}

.card:hover,
.card:focus-within {
  border-color: var(--color-primary);
}

.card:hover h2 a,
.card:focus-within {
  border-color: var(--color-primary);
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  
}

.blogcards {
  --gutter: var(--space-l);
}
